@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --grayblue: #232D3F;
    --black: #0F0F0F;
    --darkgreen: #005B41;
    --lightgreen: #008170;
    --darksmoke: #9DB2BF;
    --whtie: #F6F5F2;
    --smoke: #FAEED1;
    --boxshadow: 2px 3px 10px 2px var(--lightgreen);
    --boxshadow-white: 0 0px 20px var(--whtie);
    --bebas: "Bebas Neue", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--black);
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 130px;
    padding: 0 2rem;
    border-bottom: 1px solid var(--grayblue);
    background-color: inherit;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.scroll{
    position: sticky;
    top: .3rem;
    animation: pop .7s;
    background-color: var(--darkgreen) !important;
    width: 85vw;
    transition: width .5s;
}
.scroll > .burger > span{
  background-color: #F6F5F2;
  animation: mobileSpan .7s;
}
@keyframes mobileSpan {
  from {background-color: var(--darkgreen);}
  to {background-color: var(--whtie);}
  
}
@keyframes pop {
    from {top: .3rem;}
    to {top: 2rem;}
}
/* @keyframes navBackground {
  from {top: .3rem;}
  to {top: 2rem;}
  to {background-color: var(--whtie);}
} */
.logoScroll{
  border: 2px solid var(--black) !important;

}

.logoScroll h1:first-child{
  color: var(--darkgreen);
  background-color: var(--black);
  animation: logoLeft;
  animation-duration: 1s;
}
@keyframes logoLeft {
  from {background-color: var(--darkgreen);}
  to {background-color: var(--black);}
}
.logoScroll h1:last-child{
  color: var(--whtie) !important;
  background-color: var(--darkgreen) !important;
}

.logo{
    display: flex;
    border-radius: 5px;
    background-color: var(--darkgreen);
    overflow: hidden;
    border: 2px solid var(--darkgreen);
}
.logo:hover{
    box-shadow: var(--boxshadow);
    background-color: var(--black);
}
.logo h1{
    padding: .7rem 1rem;
    font-size: 2.5rem;
    font-family: var(--bebas) !important;
    font-weight: 500;
    font-style: normal;
    color: var(--whtie);
}
.logo h1:last-child{
    color: var(--darkgreen);
    background-color: var(--black);
}
.logo h1:last-child:hover{
    color: var(--black);
    background-color: var(--darkgreen);
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    font-size: 1.2rem;
    list-style: none;
}
nav a{
    cursor: pointer;
    padding: .7rem 1rem;
    color: var(--whtie);
    text-decoration: none;
}
nav a:hover{
    background-color: var(--darkgreen);
    border-radius: .3rem;
    color: var(--black);
}
/* HEADER LIGHT MODE */
.nav-lightMode{
  background-color: #99BC85 !important;
  border-bottom: none;
}
.li-lightMode{
  color: var(--darkgreen);
}
.li-lightMode:hover{
  color: #005b41cb;
}
.nav-a-li-lightMode:hover{
  background-color: #e2e2e2;
}
.burgerSpanLight{
  background-color: var(--black);
}
/* BURGER MENU  */
.burger {
    position: absolute;
    width: 30px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: none;
    z-index: 10;
    margin-right: 2rem;
    right: 0;
  }

.burger input {
    display: none;
}

  .burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    background-color: var(--darkgreen);
  }

  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }



  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(46deg);
    top: 0px;
    left: 5px;
    background-color: var(--black);
    position: absolute;
    z-index: 30;
  }

  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }

  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-46deg);
    top: 22px;
    left: 5px;
    background-color: var(--black);
  }





/* MOBILE NAVIGATOR */
.mobile{
    background-color: var(--darkgreen);
    height: 100%;
    width: 100%;
    max-width: 700px;
    position: fixed;
    top: 0;
    right: -700px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: var(--whtie);
    transition: .8s ease;
  }
  .mobile ul{
    list-style: none;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 100px;

  }
  .mobile a{
    width: 100%;
  }
  .mobile li {
    padding: 10px 1rem;
    cursor: pointer;
    font-size: 3rem;
  }
  .mobile li:hover {
    color: var(--black);
  }
  .mobile.active{
    right: 0;
  }


  /* BODY */


.pop{
  visibility: hidden;
  position: sticky;
  top: 90%;
  background-color: var(--lightgreen);
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: -90deg;
  font-size: 3.5rem;
  opacity: .1;
  box-shadow: var(--boxshadow-white);
  cursor: pointer;
}

.pop a{
  text-decoration: none;
  color: var(--whtie);
}
.pop:hover{
  opacity: 1;
}
.pop.active{
  animation: focus 2.5s infinite;
  visibility: visible;
}
@keyframes focus{
  from {opacity: 0;}
  to {opacity: .4;}
}

#about, #portfolio, #contact{
    background-color: transparent;
    border-bottom: 1px solid var(--grayblue);
    width: 83%;
    height: 100vh;
    border-radius: .3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whtie);
    font-size: 3rem;
}




/* LIGHT MODE */
.container{
  position: fixed;
  right: 0;
  top: 0;
  margin: 1rem;
}

.toggle {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #BED754;
}

.icon--sun {
  transition-delay: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #FDDE55;
}

#switch:checked + .icon--moon {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}

#switch:checked ~ .icon--sun {
  transform: rotate(360deg) scale(0);

}
svg{
  height: 20px;
}



/* LIGHT MODE */
body.light{
  background-color: #DDE6ED;
  animation: lightMode;
  animation-duration: 1.5s;
}
@keyframes lightMode {
  from {background-color: var(--black);}
  to {background-color: #F7F7F7;}
}
/* LIGHT NAV */
nav{
  animation-duration: 2s;
}
@keyframes light-nav {
  to {}
}

/* LIGHT LIST BUTTON */
li{
  animation-duration: 2s;
}
@keyframes listOn {
  to {color: var(--lightgreen)}
}
@keyframes listOff {
  to {color: var(--darksmoke)}
}

#about, #portfolio{
  width: 100%;
}

/* CONTACT SECTION */
#contact{
  width: 100%;
  height: auto;
  padding: 1rem 0;
}
.classContact{
  width: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
}
.socialMedia{
  background-color: var(--darkgreen);
  width: 10rem;
  height: 18rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.socialLogo{
  height: 25px;
  filter: brightness(0) saturate(100%) invert(5%) sepia(10%) saturate(2539%) hue-rotate(157deg) brightness(98%) contrast(101%);
  box-shadow: var(--boxshadow-white);
}
.socialLogo:hover{
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(321%) hue-rotate(169deg) brightness(108%) contrast(80%);
}
.formContact{
  background-color: var(--darkgreen);
  width: 40rem;
  height: 28rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 1.5rem;
}
.formContact p{
  font-size: 1.3rem;
  margin-bottom: .5rem;
}
.formContact input{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding: .3rem .2rem;
  width: 100%;
  border-radius: 5px;
}
.formContact  textarea{
  font-size: 1.5rem;
  padding: .3rem .2rem;
  border-radius: 5px;
  width: 100%;
}
footer{
  background-color: var(--darkgreen);
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-top: 1px solid var(--grayblue);
}

@media (max-width: 700px){
    nav > ul{
        display: none;
    }
    #about, #portfolio, #contact{
      width: 100%;
    }
    /* BURGER */
    .burger{
        display: block;
    }
    .pop{
      width: 38px;
      height: 38px;
      font-size: 1.5rem;
    }
    /* mobile contact */
    .classContact{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
    .socialMedia{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 1.5rem 2rem;
      gap: 20px;
    }
    .formContact{
      margin: 0;
      width: 60vw;
    }
    .container{
      top: 120px;
      margin: 1rem .1rem;
    }
    footer{
      font-size: 1rem;
    }
    .mobile-container-toggle-button{
      animation: moving;
      animation-duration: .8s;
    }
    @keyframes moving {
      from {opacity: 1;}
      to {opacity: .1;}
      from {top: 180px;}
      to  {top: 180px;}
      from {right: -50px;}
      to  {right: 0;}
    }
}
